
.card{
  padding: 10px;
  display: flex;
  margin: 10px 0px;
}

.card img{
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.info{
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info p{
  font-weight: bold;
  margin-bottom: 2px;
}


